
@import "tailwindcss";


:root {

  --primary-color : #CC0000;
  --secondary-color : #b6b0b0;
  --third-color : #dad5d5;
  


  --primary-text : 1.875rem;
  --secondary-text : 1.25rem;
  --third-text : 1rem;

}

