
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
 
  box-sizing: border-box;
}

:root {

  --primary-color : #CC0000;
  --secondary-color : #b6b0b0;
  --third-color : #dad5d5;
  


  --primary-text : 1.875rem;
  --secondary-text : 1.25rem;
  --third-text : 1rem;

}

